dependencies:
  flutter:
    sdk: flutter
  audioplayers: ^5.2.1 # සින්දු ප්ලේ කිරීමට
  provider: ^6.1.1     # Dark mode සහ state management සඳහා
  google_fonts: ^6.1.0 # ලස්සන font එකක් සඳහා
  animate_do: ^3.3.4   # Animations සඳහා
