environment:
  sdk: ">=3.0.0 <4.0.0" # මෙය නිවැරදිව ඇතුළත් කරන්න

dependencies:
  flutter:
    sdk: flutter
  on_audio_query: ^2.9.0
  audioplayers: ^5.2.1
  permission_handler: ^11.3.1
  google_fonts: ^6.2.1
  animate_do: ^3.3.4
