dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  http: ^1.1.0 # API හරහා පරිවර්තනය කිරීමට
  speech_to_text: ^6.1.1 # හඬ හඳුනා ගැනීමට
  avatar_glow: ^2.0.2 # මයික්‍රොෆෝනය සඳහා visual effect එකක් දීමට

